################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AudiophileAPI/bin/Debug/net8.0
/AudiophileAPI.DataAccess.EF/bin/Debug/net8.0
/AudiophileAPI.DataAccess.EF/obj/Debug/net8.0
/AudiophileAPI.DataAccess.EF/obj
